<configuration>
	<packageSources>
		<add key="GitHub" value="https://nuget.pkg.github.com/caiofabiogomes/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<GitHub>
			<add key="Username" value="GitUser" />
			<add key="ClearTextPassword" value="GitApiKey" />
		</GitHub>
	</packageSourceCredentials>
</configuration>